---
layout: page
# All the Categories of posts
---

{% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}

  <div class="card categories">
    <!-- top-category -->
    <div class="card-header d-flex justify-content-between hide-border-bottom"
        id="{{ HEAD_PREFIX }}{{ group_index }}">
      <span>
        <div id="#{{ tag_name | slugize }}"></div>
        <li class="tag-head">
            <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
        </li>
        <a name="{{ tag_name | slugize }}"></a>
        <!-- content count -->
        {% assign top_posts_size = site.categories[tag_name] | size %}
        <span class="text-muted small font-weight-light">
            {{ top_posts_size }}
            post
        </span>
      </span>

    </div> <!-- .card-header -->

  </div> <!-- .card -->

{% endfor %}
